
<div calss="col-md-6">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="nome">Nome do Cliente </label>
        <input type="text" class="form-control" id="nome" placeholder="Nome da Cliente" [(ngModel)] = Cliente.Nome>
      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group">
        <label for="CPF">CFP do Cliente</label>
        <input type="text" class="form-control" id="CPF" placeholder="000.000.000-00" [(ngModel)] = Cliente.CPF>
      </div>
    </div>

  </div>
</div>

<div calss="col-md-6">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="data">Data de Nascimento</label>
        <input type="text" class="form-control" id="data" placeholder="00/00/0000" [(ngModel)] = Cliente.data>
      </div>
    </div>
  </div>
</div>

  <div calss="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="telefone">Telefone residencial</label>
          <input type="text" class="form-control" id="telefone" placeholder="(00) 00000000" [(ngModel)] = Cliente.telefone>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="celular">Telefone Celular</label>
          <input type="text" class="form-control" id="celular" placeholder="(00) 000000000" [(ngModel)] = Cliente.celular>
        </div>
      </div>
    </div>
  </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="email">E-mail do Cliente</label>
          <input type="text" class="form-control" id="email" placeholder="E-mail da Empresa" [(ngModel)] = Cliente.email>
        </div>
      </div>
 
 
<div class ="container">
  <app-cep></app-cep>
</div>

  <div col-md-8>
    <button class="btn btn-primary" type="button">Gravar</button>
  </div>