<div class="container">

    <div col-md-8>
        <button class="btn btn-primary" type="button"><a href="fornecedor.Compoment.html">Fornecedor</a></button>
    </div>
    <div col-md-8>
        <button class="btn btn-primary" type="button"><a href="cliente.Compoment.html">Cliente</a></button>
    </div>
    <div col-md-8>
        <button class="btn btn-primary" type="button"><a href="produto.Compoment.html">Produto</a></button>
    </div>
    <div col-md-8>
        <button class="btn btn-primary" type="button"><a href="venda.Compoment.html">Venda</a></button>
    </div>
    <div col-md-8>
        <button class="btn btn-primary" type="button"><a href="itemVenda.Compoment.html">ItemVenda</a></button>
    </div>
    <div col-md-8>
        <button class="btn btn-primary" type="button"><a href="carteira-Item.Compoment.html">ItemVenda</a></button>
    </div>
</div>