<header>
    <section class="texste">
        <div class="header-conteiner-imagem"></div>
    </section>
    <nav class="teste">
        <dl class="menuPrincipal">
            <dt><a href="index.html">Inicio</a></dt>
            <dt><a href="#">Produto</a></dt>
            <dt><a href="#">Fornecedor</a></dt>
            <dt><a href="#">Cliente</a></dt>
            <dt><a href="#">Compra</a></dt>
            <dt><a href="#">Venda</a></dt>
        </dl>
    </nav>
    <h1 class="tituloPrincipal">Jeh Butique</h1>

</header>

<main class="main-container">
    <section class="main-container-section">
        <article class="section-container-article">
            <header class="main-container-header">
                <h2>Bermuda</h2>
            </header>
            <img src="../assets/venda1.jpg" alt="Imagem de um sapato nike" class="article-container-img">
            <footer class="main-container-footer">
                <p>rodape</p>
            </footer>
        </article>
        <article class="section-container-article">
            <header class="main-container-header">
                <h2>Camisa</h2>
            </header>
            <img src="../assets/venda3.webp" alt="Imagem de um sapato nike" class="article-container-img">
            <footer class="main-container-footer">
                <p>rodape</p>
            </footer>
        </article>
        <article class="section-container-article">
            <header class="main-container-header">
                <h2>Calça</h2>
            </header>
            <img src="../assets/venda2.webp" alt="Imagem de um sapato nike" class="article-container-img">
            <footer class="main-container-footer">
                <p>rodape</p>
            </footer>
        </article>
        <article class="section-container-article">
            <header class="main-container-header">
                <h2>Blusas</h2>
            </header>
            <img src="../assets/venda4.webp" alt="Imagem de um sapato nike" class="article-container-img">
            <footer class="main-container-footer">
                <p>rodape</p>
            </footer>
        </article>
    </section>

    <section class="main-container-section main-container-section-margin">
        <article class="section-container-article">
            <h3>Subtitulo1</h3>
            <img src="../assets/loja1.jfif" alt="Imagem de um sapato nike" class="article-container-img">
        </article>
        <article class="section-container-article">
            <h3>Subtitulo1</h3>
            <img src="../assets/loja2.jfif" alt="Imagem de um sapato nike" class="article-container-img">
        </article>
        <article class="section-container-article">
            <h3>Subtitulo1</h3>
            <img src="../assets/loja3.jpg" alt="Imagem de um sapato nike" class="article-container-img">
        </article>
        <article class="section-container-article">
            <h3>Subtitulo1</h3>
            <img src="../assets/loja4.jpg" alt="Imagem de um sapato nike" class="article-container-img">
        </article>
    </section>

</main>

<footer class="footer-container">
    <a href="#" class="icon-facebook footer-container-icon"></a>
    <a href="#" class="icon-twitter footer-container-icon"></a>
    <a href="#" class="icon-google-plus footer-container-icon"></a>
    <p class="footer-container-texto">Douglas Royer</p>
    <p>Luiz Felipe Pereira Royer</p>
    <p>Rua</p>
    <p>Cidade</p>
    <p>copy</p>
</footer>