<div calss="col-md-6">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="nome">Nome do Empresa</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome da Empresa" [(ngModel)]=Fornecedor.nome>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="fantasia">Nome Fantasia</label>
        <input type="text" class="form-control" id="fantasia" placeholder="Nome  Fantasia da Empresa" [(ngModel)]=Fornecedor.nomeFantasia>
      </div>
    </div>

  </div>
</div>

<div calss="col-md-6">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="cnpj">CNPJ da Empresa</label>
        <input type="text" class="form-control" id="cnpj" placeholder="00.000.000/0000-00" [(ngModel)]=Fornecedor.CNPJ>
      </div>
    </div>
  </div>
</div>

  <div calss="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="atividade">Atividade da Empresa</label>
          <input type="text" class="form-control" id="atividade" placeholder="Nome da Empresa" [(ngModel)]=Fornecedor.atividade>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="razaoSocial">Razão Social da Empresa</label>
          <input type="text" class="form-control" id="razaoSocial" placeholder="Nome da Empresa" [(ngModel)]=Fornecedor.razaoSocial>
        </div>
      </div>
    </div>
  </div>


  <div calss="col-md-6">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="telefone">Telefone da Empresa</label>
          <input type="text" class="form-control" id="telefone" placeholder="(00) 00000-0000" [(ngModel)]=Fornecedor.telefone>
          <label for="celular">Celular da Empresa</label>
          <input type="text" class="form-control" id="celular" placeholder="(00) 00000-0000" [(ngModel)]=Fornecedor.celular>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="email">E-mail da Empresa</label>
          <input type="text" class="form-control" id="email" placeholder="E-mail da Empresa" [(ngModel)]=Fornecedor.email >
        </div>
      </div>
    </div>
  </div>

  <div calss="col-md-5">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="observacao">Observação</label>
            <input type="text" class="form-control" id="observacao" placeholder="Observações" [(ngModel)]=Fornecedor.observacao>
          </div>
        </div>
      </div>
    </div>
    
<div class ="container">
  <app-cep></app-cep>
</div>

  <div col-md-8>
    <button class="btn btn-primary" type="button">Gravar</button>
  </div>